<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JavaScripter | Brent McCoy</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Icons CSS -->
    <script src="https://use.fontawesome.com/a97712271d.js"></script>
    <!-- Google Fonts CSS -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Playball|Open+Sans|Roboto+Condensed" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- BODY CONTAINER -->
    <div class="container-fluid bg-light p-0" style="min-height: 100vh;">
      <!-- NAVBAR -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top box-shadow">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
          JavaScripter
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <!-- Menu items -->
          <div class="navbar-nav ml-auto">
            <a id="homeNav" class="nav-item nav-link active" href="/"><i class="fa fa-home mr-2"></i>Home</a>
            <a id="workNav" class="nav-item nav-link" href="#work"><i class="fa fa-briefcase mr-2"></i>Work</a>
            <a id="contactNav" class="nav-item nav-link" href="#contact"><i class="fa fa-envelope mr-2"></i>Contact Me</a>
          </div>
        </div>
      </nav>
      <!-- CONTENT CONTAINER -->
      <div class="container-fluid bg-white p-0" style="min-height: 90vh;">
        <!-- Feature Image -->
        <div class="jumbotron jumbotron-fluid text-center a-fade bg-overlay py-5 mb-0">
          <div class="container my-5 p-5">
            <h1 class="display-1 text-light text-shadow">Hello, world.<span class="a-cursor ml-sm-3"></span></h1>
            <hr class="bg-light w-75" style="height: 1px;" />
            <p class="lead text-light p-4 mb-3 text-shadow">My name is Brent and I'm a full-stack JavaScript web developer based in Bathurst NSW Australia.</p>
            <div class="" role="group" aria-label="Basic example">
              <a class="btn btn-primary btn-lg mr-sm-4" href="#contact" role="button">Contact Me</a>
              <a class="btn btn-outline-light btn-lg" href="#work" role="button">View Work</a>
            </div>
          </div>
        </div>
        <!-- Recent Repos -->
        <div class="container-fluid bg-white py-5">
          <h2 id="work" class="display-4 text-center">Recent Repos</h2>
          <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
          <div class="container p-3 bg-light rounded">
            <div class="card-deck">
              <% if (repos[0]) { %>
              <div class="card border-0">
                <div class="card-header bg-primary text-light"><i class="fa fa-code mr-3"></i><%= repos[0].tags %></div>
                <div class="card-body">
                  <h4 class="card-title"><%= repos[0].name %></h4>
                  <p class="card-text"><%= repos[0].description %></p>
                  <p class="card-text"><small class="text-muted">Last updated <%= repos[0].date %></small></p>
                  <a target="_blank" class="btn btn-primary" href="<%= repos[0].link %>" role="button">View</a>
                </div>
              </div>
              <% } %>
              <% if (repos[1]) { %>
              <div class="card border-0">
                <div class="card-header bg-primary text-light"><i class="fa fa-code mr-3"></i><%= repos[1].tags %></div>
                <div class="card-body">
                  <h4 class="card-title"><%= repos[1].name %></h4>
                  <p class="card-text"><%= repos[1].description %></p>
                  <p class="card-text"><small class="text-muted">Last updated <%= repos[1].date %></small></p>
                  <a target="_blank" class="btn btn-primary" href="<%= repos[1].link %>" role="button">View</a>
                </div>
              </div>
              <% } %>
              <% if (repos[2]) { %>
              <div class="card border-0">
                <div class="card-header bg-primary text-light"><i class="fa fa-code mr-3"></i><%= repos[2].tags %></div>
                <div class="card-body">
                  <h4 class="card-title"><%= repos[2].name %></h4>
                  <p class="card-text"><%= repos[2].description %></p>
                  <p class="card-text"><small class="text-muted">Last updated <%= repos[2].date %></small></p>
                  <a target="_blank" class="btn btn-primary" href="<%= repos[2].link %>" role="button">View</a>
                </div>
              </div>
            </div>
            <% } %>
            <% if (repos[3]) { %>
            <div class="card-deck mt-3">
              <div class="card border-0">
                <div class="card-header bg-primary text-light"><i class="fa fa-code mr-3"></i><%= repos[3].tags %></div>
                <div class="card-body">
                  <h4 class="card-title"><%= repos[3].name %></h4>
                  <p class="card-text"><%= repos[3].description %></p>
                  <p class="card-text"><small class="text-muted">Last updated <%= repos[3].date %></small></p>
                  <a target="_blank" class="btn btn-primary" href="<%= repos[3].link %>" role="button">View</a>
                </div>
              </div>
              <% } %>
              <% if (repos[4]) { %>
              <div class="card border-0">
                <div class="card-header bg-primary text-light"><i class="fa fa-code mr-3"></i><%= repos[4].tags %></div>
                <div class="card-body">
                  <h4 class="card-title"><%= repos[4].name %></h4>
                  <p class="card-text"><%= repos[4].description %></p>
                  <p class="card-text"><small class="text-muted">Last updated <%= repos[4].date %></small></p>
                  <a target="_blank" class="btn btn-primary" href="<%= repos[4].link %>" role="button">View</a>
                </div>
              </div>
              <% } %>
              <% if (repos[5]) { %>
              <div class="card border-0">
                <div class="card-header bg-primary text-light"><i class="fa fa-code mr-3"></i><%= repos[5].tags %></div>
                <div class="card-body">
                  <h4 class="card-title"><%= repos[5].name %></h4>
                  <p class="card-text"><%= repos[5].description %></p>
                  <p class="card-text"><small class="text-muted">Last updated <%= repos[5].date %></small></p>
                  <a target="_blank" class="btn btn-primary" href="<%= repos[5].link %>" role="button">View</a>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <!-- Contact Form -->
        <div class="container-fluid bg-white py-5">
          <h2 id="contact" class="display-4 text-center">Contact Me</h2>
          <hr class="bg-primary mb-4" style="height: 5px; width: 100px;" />
          <div class="container p-3 bg-light border border-light rounded">
            <div class="container">
              <form id="contactForm">
                <div class="form-group row">
                  <label for="inputName" class="col-sm-2 col-form-label"><h4>Name</h4></label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control border-0 form-control-lg" id="inputName" name="inputName" placeholder="Enter your name...">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail" class="col-sm-2 col-form-label"><h4>Email</h4></label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control border-0 form-control-lg" id="inputEmail" name="inputEmail" placeholder="Enter your email...">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputMessage" class="col-sm-2 col-form-label"><h4>Message</h4></label>
                  <div class="col-sm-10">
                    <textarea class="form-control border-0 form-control-lg" id="inputMessage" name="inputMessage" rows="10" placeholder="Enter your message..."></textarea>
                  </div>
                </div>
                <div class="form-group row justify-content-end">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-block btn-lg w-50"><i class="fa fa-paper-plane mr-3"></i>Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div id="formFeedback" class="container p-0 pt-3">
          </div>
        </div>
        <!-- Footer -->
        <div class="container-fluid bg-overlay text-light p-0">
          <div class="container pt-5 pb-4">
            <div class="row justify-content-between">
              <div class="col-sm-auto">
                <h4 class="text-left">Links</h4>
                <hr class="bg-primary mb-4" style="height: 3px;" />
                <ul class="list-unstyled text-left">
                  <% if (repos[0]) { %>
                  <li><a target="_blank" href="<%= repos[0].link %>"><%= repos[0].name %></a></li>
                  <% } %>
                  <% if (repos[1]) { %>
                  <li><a target="_blank" href="<%= repos[1].link %>"><%= repos[1].name %></a></li>
                  <% } %>
                  <% if (repos[2]) { %>
                  <li><a target="_blank" href="<%= repos[2].link %>"><%= repos[2].name %></a></li>
                  <% } %>
                  <% if (repos[3]) { %>
                  <li><a target="_blank" href="<%= repos[3].link %>"><%= repos[3].name %></a></li>
                  <% } %>
                  <% if (repos[4]) { %>
                  <li><a target="_blank" href="<%= repos[4].link %>"><%= repos[4].name %></a></li>
                  <% } %>
                  <% if (repos[5]) { %>
                  <li><a target="_blank" href="<%= repos[5].link %>"><%= repos[5].name %></a></li>
                  <% } %>
                </ul>
              </div>
              <div class="col-sm-auto">
                <h4 class="text-left">Contact</h4>
                <hr class="bg-primary mb-4" style="height: 3px;" />
                <p class="text-left"><strong>Address:</strong> 49 Carlingford St Bathurst</p>
                <p class="text-left"><strong>Email:</strong> brentmccoy@me.com</p>
                <p class="text-left"><strong>Phone:</strong> +61 404 392 207</p>
              </div>
            </div>
            <div class="row justify-content-between mt-3">
              <div class="col-sm-auto">
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#">Terms</a></li>
                  <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                  <li class="list-inline-item"><a href="#">Disclaimer</a></li>
                </ul>
              </div>
              <div class="col-sm-auto">
                <p>&copy; Copyright 2017 All rights reserved. Made with <i class="fa fa-heart text-danger"></i> and Node.js</p>
              </div>
            </div>
          </div>
        </div>
      <!-- END CONTENT CONTAINER -->
      </div>
    </div>
    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {

        $(window).on('hashchange', function () {
          if (window.location.hash === '#work') {
            $('#homeNav').removeClass('active');
            $('#contactNav').removeClass('active');
            $('#workNav').addClass('active');
          }
          else if (window.location.hash === '#contact') {
            $('#homeNav').removeClass('active');
            $('#contactNav').addClass('active');
            $('#workNav').removeClass('active');
          }
        });

        $('#contactForm').on('submit', function(e) {
          e.preventDefault();
          if (formValid()) {
            const data = $('#contactForm').serialize();
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {

              if (xhr.status === 200 && xhr.readyState === 4) {
                const xhrResponse = JSON.parse(xhr.responseText);
                const message = `Thanks <strong>${xhrResponse.inputName.split(' ')[0]}</strong>, your message was sent successfully from <strong>${xhrResponse.inputEmail}</strong>!`;
                $('#formFeedback').html(`<div class="alert alert-success a-fade" role="alert">${message}</div>`);
              }
              else if (xhr.readyState === 4) {
                const message = `Sorry, there was an error sending your message.`;
                $('#formFeedback').html(`<div class="alert alert-warning a-fade" role="alert">${message}</div>`);
              }
            };
            xhr.open('POST','/', true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhr.send(data);
          }
          else {
            $('#formFeedback').html(`<div class="alert alert-danger a-fade" role="alert">Please check the data you have entered and try again.</div>`);
          }
       });
       const formValid = function() {
         return $('#inputName').val().length > 1 && $('#inputMessage').val().length > 10 && $('#inputEmail').val().match(/[^@]+@[^@]+/) && !$('#inputName').val().match(/(<\s*script|script\s*>)/i) && !$('#inputMessage').val().match(/(<\s*script|script\s*>)/i);
       };
     });
    </script>
  </body>
</html>
